.shogimate {
  $gap: 0.2vh;
  $toolH: 7vh;
  $rowH: 4vh;
  $themeColor: #fd0;
  $borderColor: #999;
  $shadowColor: #0006;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  * {
    box-sizing: border-box;
    color: #000;
    font: 0.8rem 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
    margin: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
  }

  button {
    appearance: none;
    background: #eee;
    border: 1px solid $borderColor;
    border-radius: $gap;
    cursor: pointer;
  }

  button:active {
    opacity: 0.8;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  output {
    background: #fff;
    border: 1px solid $borderColor;
    padding: 2px;
  }

  pre {
    background: #fff;
    border: 1px solid $borderColor;
    padding: 2px;
    overflow-y: scroll;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  select {
    appearance: menulist-button;
    border: 1px solid $borderColor;
    border-radius: $gap;
    cursor: pointer;
    width: 100%;
  }

  textarea {
    border: 1px solid $borderColor;
    padding: 2px;
    overflow-y: scroll;
    resize: none;
  }

  .Center {
    display: grid;
    place-items: center;
  }

  .TitleBar {
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .ToolBar {
    display: grid;
    gap: $gap;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .ConfirmView {
    background: $shadowColor;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    .Content {
      background: $themeColor;
      width: 80%;
      padding: $gap;
      display: grid;
      gap: $gap;
      grid-template-rows: $toolH $toolH;

      .ItemList {
        display: grid;
        gap: $gap;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
      }
    }
  }

  .MenuView {
    background: $shadowColor;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    .Content {
      background: $themeColor;
      width: 80%;
      max-height: 80%;
      padding: $gap;
      display: grid;
      gap: $gap;
      grid-template-rows: $toolH 1fr;

      .ItemList {
        display: grid;
        gap: $gap;
        grid-auto-flow: row;
        grid-auto-rows: $toolH;
        overflow-y: scroll;
      }
    }
  }

  .HomeView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: 1fr repeat(8, $toolH);

    .TitleOutput {
      font-size: 1.2rem;
    }
  }

  .QuestionView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $rowH $toolH 1fr $toolH $toolH;
    place-items: stretch;

    .ShogiPanel {
      background: #ffd;
    }
  }

  .CollectionView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $rowH $toolH 1fr $toolH $toolH;

    .LimitList {
      display: grid;
      gap: $gap;
      grid-auto-flow: row;
      grid-auto-rows: $toolH;
      overflow-y:scroll;

      .LimitItem {
        background: #fff;
        padding: $gap;
        display: grid;
        gap: $gap;
        grid-template-columns: 1fr 4rem;

        label {
          display: flex;
          gap: $gap;
          place-items: center left;
        }
      }
    }
  }

  .ImportView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $rowH 1fr $toolH $toolH;

    .FileInput {
      display: none;
    }
  }

  .ExportView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $rowH 1fr $toolH;
  }

  .SettingsView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $rowH 1fr $toolH;

    .FieldList {
      background: #ffd;
      padding: $gap;
      display: grid;
      gap: $gap;
      grid-auto-flow: row;
      grid-auto-rows: $toolH;

      .FieldItem {
        display: grid;
        gap: $gap;
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  .ResearchView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $toolH 4fr $toolH 1fr;
    place-items: stretch;

    .ShogiPanel {
      background: #eff;
    }

    .PvInfoTable {
      display: block;
      overflow-y: scroll;
      background: #eee;
    }

    .PvInfoTbody {
      display: table;
      width: 100%;

      tr {
        height: $rowH;
        white-space: nowrap;
      }

      th {
        background: #ccc;
        text-align: left;
      }

      td {
        background: #fff;
      }

      .PvOutput {
        width: 100%;
        max-width: 0;
        text-overflow: ellipsis;
      }
    }
  }

  .ProgressView {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #fff;
    text-shadow:
      -1px -1px 0 #000,
      -1px 0px 0 #000,
      -1px 1px 0 #000,
      0px -1px 0 #000,
      0px 1px 0 #000,
      1px -1px 0 #000,
      1px 0px 0 #000,
      1px 1px 0 #000,
  }

  .BrowseView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $toolH 3fr 1fr $toolH;
    place-items: stretch;

    .ShogiPanel {
      background: #fff;
    }

    .StepTable {
      display: block;
      overflow-y: scroll;
      background: #eee;
    }

    .StepTbody {
      display: table;
      width: 100%;

      tr {
        height: $rowH;
        white-space: nowrap;
        background: #fff;
      }

      .Selected {
        background: #cff;
      }
    }
  }

  .MatchSettingsView {
    background: $shadowColor;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    .Content {
      background: $themeColor;
      width: 90%;
      height: 80%;
      padding: $gap;
      display: grid;
      gap: $gap;
      grid-template-rows: $toolH 1fr $toolH $toolH;
      place-items: stretch;

      .ShogiPanel {
        background: #fff;
      }
    }
  }

  .MatchView {
    background: $themeColor;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $gap;
    display: grid;
    gap: $gap;
    grid-template-rows: $toolH 1fr calc($toolH * 1.5) $toolH;
    place-items: stretch;

    .ShogiPanel {
      background: #ffd;
    }
  }
}
